# docker-compose.yml

version: '3.8'

services:
  # 1. PostgreSQL Database Service
  db:
    image: pgvector/pgvector:pg16
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  # 2. FastAPI Backend Service
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi_backend
    env_file:
    - ./.env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      API_HOST: ${API_HOST}
      API_PORT: ${API_PORT}
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      - db 
    volumes:
      - ./backend:/app 
      - ./logs:/app/logs
    command: sh -c "poetry run uvicorn app.main:app --host 0.0.0.0 --port 8000 > /app/logs/backend.log 2>&1"

  # 3. 데이터 수집 워커 컨테이너
  seoul_event_worker:
      build:
        context: ./backend
        dockerfile: Dockerfile
      container_name: seoul_event_worker
      depends_on:
        - db
        - backend
      env_file:
      - ./.env
      environment:
        DATABASE_URL: ${DATABASE_URL}
        API_HOST: ${API_HOST}
        API_PORT: ${API_PORT}
      volumes:
        - ./backend:/app
        - ./logs:/app/logs
      command: sh -c "sleep 10 && poetry run python -m app.worker.collect_event_worker > /app/logs/worker.log 2>&1"
  
  # 4. 임베딩 벡터 생성 워커 컨테이너
  embedding_worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: embedding_worker
    depends_on:
      - db
      - backend
    env_file:
    - ./.env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      API_HOST: ${API_HOST}
      API_PORT: ${API_PORT}
      SOLAR_API_KEY: ${SOLAR_API_KEY} 
      SOLAR_EMBEDDING_PASSAGE: ${SOLAR_EMBEDDING_PASSAGE}
      SOLAR_EMBEDDING_API_URL: ${SOLAR_EMBEDDING_API_URL}
      EMBEDDING_DIMENSION: ${EMBEDDING_DIMENSION}
    volumes:
      - ./backend:/app
      - ./logs:/app/logs
    command: /bin/bash -c "sleep 20 && poetry run python -m app.worker.embedding_processor > /app/logs/embedding_worker.log 2>&1"
    
  # 5. Next.js Frontend Service
  frontend:
    build:
      context: . 
      dockerfile: ./frontend/Dockerfile
    container_name: nextjs_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend 
    volumes:
      - ./frontend:/app/frontend:ro 
      - /app/frontend/node_modules
      - ./logs:/app/logs
    command: sh -c "node_modules/.bin/next start > /app/logs/frontend.log 2>&1"
volumes:
  postgres_data: